#navl{ 
	background:url(images/navl.gif) no-repeat;
	display:none;
	position:relative;
	left:0px;
	padding:0px;
	top:0px;
	margin:0px;
	width:7px;
	height:60px;}
	
	
#navr{ 
	background:url(images/navr.gif) no-repeat;
	display:none;
	position:relative;
	padding:0px;
	margin:0px;
	top:0px;
	float:right;
	width:7px;
	height:60px;}


#nav {
	
	width:860px;
	margin:0px auto;
	width:860px;
	
	padding:0px;
	height:60px;
	z-index:10;
	position:relative;
	top:103px;
	background: #245165;}
	
	
	#main table.info{
	margin:0px -10px 0px 0px;