@charset "UTF-8";
/* CSS Document */


/*START WITH NAVL & NAVR corners*/
/*START WITH NAVL & NAVR corners*/
/*START WITH NAVL & NAVR corners*/
/*START WITH NAVL & NAVR corners*/

/* common styling */
#mainright .menu {font-family: arial, sans-serif; font-size:11px; z-index:5000; margin:0px; padding:0px; position:absolute; top:0px; z-index:4000;width:158px;}
#mainright .menu a, #mainright .menu a:visited {display:block; margin:0px; text-decoration:none; color:#2f82a3; width:158px; height:18px; padding:9px 0px; text-align:left; text-indent:20px;border-bottom:1px solid #d0d0d0; 
background-image: url(../images/arrow_link.gif) ;
background-repeat: no-repeat; 
background-position:left;
background-color:#fff; 
line-height:20px; font-size:12px; overflow:hidden;}

#mainright .menu a {padding:9px 0px; margin:0px; height:18px;} 
#mainright .menu ul{padding:0px 0px; margin:0px; }

#mainright .menu ul li{padding:0px; margin:0px; height:auto; width: 154px;}
#mainright .menu ul li a{padding:6px 0px; height:20px;}

#mainright .menu{padding:0px; margin:0px; list-style: none; margin-right:15px;}
#mainright .menu {float:left; position:relative;margin:0px; padding:0px;}
#mainright .menu ul {display: none; width:154px; margin:0px; position:relative; border-right:1px solid #CCC; border-left:1px solid #CCC; height:auto}

/* specific to non IE browsers */
#mainright .menu:hover a {background-color:#edf7f9; color:#666;  background-image:url(../images/arrow_link_down.gif); border-bottom:1px solid #CCC;}
#mainright .menu:hover ul {display:block; position:absolute; top:37px; left:0; width:156px;}
#mainright .menu:hover ul li a.hide {background:#6a3; color:#fff;}
#mainright .menu:hover ul li:hover a.hide {background:#6fc; color:#000;}
#mainright .menu:hover ul li ul {display: none;}
#mainright .menu:hover ul li a {display:block; background:#fff;  width:156px;  color:#2f82a3;}
#mainright .menu:hover ul li a:hover {background:#edf7f9; color:#2f82a3;}
#mainright .menu:hover ul li:hover ul {display:block; position:absolute; left:105px; top:0;}
#mainright .menu:hover ul li:hover ul.left {left:-105px;}


#mainright table td ul {width:156px; margin:0px; position:relative;}
#mainright table td ul li a.versions{
	z-index:300;
	margin:0px 0px 0px 0px;
	padding:9px 0px;
	position:absolute;
	top:37px;
	
	text-decoration:none !important;
	font-size:12px;
	text-indent:8px;
	display:block; 
	color:#2f82a3; 
	width:158px; 
	height:18px; 
	 
	text-align:left; 
	text-indent:20px;
	border-bottom:1px solid #d0d0d0; 
	background-image: url(../images/arrow_link.gif) ;
background-repeat: no-repeat; 
background-position:left;
background-color:#fff; 
	line-height:20px; font-size:12px; 
	}
#mainright table td li a.versions:hover {color:#666; background-color:#edf7f9;}
select{
	display:block;
	width:156px;
	background:#fff;
	border:1px solid #bdd5da;
	padding:10px;
	margin-top:8px;}
	
	div.selectbox-wrapper ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.selectbox-wrapper ul li.selected { 
  background-color: #EAF2FB;
}
div.selectbox-wrapper ul li.current { 
  background-color: #CDD8E4;
}
div.selectbox-wrapper ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
}

body {
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	background-image: url(../images/bg_pattern.gif);
	background-repeat:repeat;
	background-position:center top;
	height:100%;
	}

#headerWrap ul.links{
	position:absolute;
	top:236px;
	display:block;
		margin:0px 0px 0px 0px;
		padding:13px 0px;
		padding-left:0px;
		width:858px;
		border:1px solid #bdd5da;
		background:#f2fafc;
		text-align:center;
		z-index:20;}
	
ul.links li{
	display:inline;
		margin:0px;
		padding:0px;
		padding-left:0px;
		background-image:none;}
	
ul.links li a{
	text-decoration:none;
	margin:0px 0px 0px 0px;
	padding:8px 10px 8px 10px;
	color:#143a4b;
	font-size:12px;

	
	font-weight:100;
	font-family:Helvetica, Arial, sans-serif;
	
	
	-webkit-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	borde-radius: 4px;}
	
ul.links li a:hover{
	background:#fff;
	}


#wrap{
	margin:0px auto;
	padding:0px;
	width:860px;}


p{
	line-height:16px;
	margin:0px;
	padding:0px;}
	
.subscribe{
	text-decoration: none;
	font-size:12px;
	background:url(../images/subscribe.gif) center left no-repeat;
	padding:5px 10px 0px 23px;
	margin:0px 14px 0px 0px;
	text-decoration:none;

	color:#2f82a3;
	width:10px;
	height:20px;
	display:block;
	position:absolute;
	top:0px;
	right:20px;
	

	}

.subscribe:hover{
	text-decoration:underline}


#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:110px;
	margin-left:50px;

	overflow:hidden;
	width:77px;
	height:51px;
	border:none;
	text-indent:-999px;
	background:url(../images/ui.totop.png) no-repeat left top;
	z-index:2000;
}

#toTopHover {
	background:url(../images/ui.totop.png) no-repeat left -51px;
	width:77px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
	filter:alpha(opacity=0);
}

#maincontent{
	padding:0px 48px;
	margin:0px;
}


a img{
	border:none;}

#logo{
	margin:0px;
	padding:0px;
	background:url(../images/logo.gif);
	width:160px;
	height:48px;
	display:block;
	
	position:relative;
	top:95px;
	left:45px;}
	

#cmu{
	margin:0px;
	padding:0px;
	float:right;
	background:url(../images/cmu.png);
	height:23px;
	width:149px;
	position:relative;
	top:70px;
	right:5px;}
	


		
#footer{
	width:860px;
	margin:0px;
	margin-bottom:30px;
	margin-top:0px;
	padding:17px 0px 10px 0px;
	background:#245165;
	text-indent:20px;
	bottom:0px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;}
	
#footer p{
	color:#fff;
	font-size:12px;
	margin:3px 0px 10px 15px;
	padding:0px;
	}

#footer ul{
	margin:0px 35px 0px 0px;
	padding:0px;
	list-style:none;
	display:block;
	float:right;}
	
#footer li{
	margin:0px 0px 0px 10px;
	padding:0px;
	font-size:12px;
	display:inline;}

#footer li a{
	color:#93d1f1;
	text-decoration:underline;
	margin:0px;
	padding:0px;}

#footer li a:hover{text-decoration:none;}
		
h1{
	color:#000;
	font-size:21px;
	font-weight:bold;
	
	margin:0px 0px 20px 0px;
	padding:0px;
	font-family:Helvetica, Arial, sans-serif;
	
	}
	
	
	
	
h2{
	color:#2e6780;
	font-size:17px;
	font-weight:100;
	font-style:normal;
	margin:20px 0px 12px 0px;
	padding:0px 0px 0px 0px;
	font-family:Helvetica, Arial, sans-serif;
	
	}

table.info p{
	color:#000;
	font-size:13px;
	width:355px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	z-index:3;
	position:relative;
	left:10px;
	}
	
table.info td{
	
	padding:10px;
	margin:0px 0px 0px 0px;
	vertical-align:top;
	

}
	

table.info a{
	float:right;
	margin:0px;
	padding:0px;
	position:relative;
	top:20px;
	right:38px;

	
	
	}
	

a.more{
	margin:0px 0px 0px 0px;
	padding:0px;
	text-decoration:none;
	color:#2f82a3;
	font-size:12px;
	text-indent:8px;
	background:url(../images/arrow_link2.gif) no-repeat;
	}
	
a.more:hover{
	text-decoration:underline;
	}


#main {
	font-size:13px;
	line-height:19px;
	width:858px;
	margin:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding:41px 0px 50px 0px;
	height:auto;
	background:#fff;
	z-index:2;
	height:100%;
	position:relative;
	border-top: 8px solid #e2e2e2;
	border-right: 1px solid #bbc8cb;
	border-left: 1px solid #bbc8cb;
}

#main a, #main a:visited{
	text-decoration:underline;
	color:#2f82a3;}
	
#main a:hover{
	text-decoration:none;
	color:#2f82a3;}
	
#main table.info{
	margin:10px 0px 0px 0px;
	padding:5px 12px 0px 0px;
	border-spacing:0px;}


#main table{
	margin:-10px 0px 0px -5px;
	padding:0px;
	}

#main table td{
	height:50px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:400px;
	}
	
#main table td.top{
	height:70px;
	border-bottom:1px solid #CCC;

}





#mainright{
	float:right;
	position:relative;
	right:0px;
	}
	
#mainright table{
	position:relative;
	margin:0px;
	top:0px;
	left:5px;
	padding:0px;
	}

#mainright td{
	margin:0px 0px 0px 0px;
	padding:0px;
}

#mainright td.button a{
	background:url(../images/button.gif) no-repeat;
	margin:0px;
	padding:0px 0px 0px 0px;
	text-indent:61px;
	width:160px;
	height:56px;
	text-decoration:none;
	color:#000;
	}
	#mainright td.button .menu a{
	width:156px;
	height:auto;
	text-align:left;
	padding-left:0px;}
#mainright td.button a:hover{
	background:url(../images/button_over.gif) no-repeat;}


#mainright ul{

	list-style:none;
	margin:0px 0px 0px 4px;
	padding:5px 0px 0px 0px;
	height:50px;
	line-height:19px;}

#mainright li{
	font-size:12px;
	margin:0px 0px 0px 0px;
	padding:1px 0px 0px 0px;
	}



#main p{
	line-height:19px;
	margin-bottom:5px;
	padding:10px 0px 0px 10px;}


#mainleft{
	margin:0px 0px 0px 0px;
	width:355px;
	position:relative;
	
	padding:0px 0px 0px 0px;
	}
#mainleft p{
	padding:0px;}

#shadow{
	margin-top:0px;
	padding:4px;
	width:355px;
		background:#edf2f4;
}

#mainleft ul{
	
	width:355px;
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:0px;
	text-align:left;
	background-color:#fff;
   
        font-size: 13px;
		
		list-style:none;
		
		border-top:0px solid #b3d6db;
	}

#mainleft li{
	font-size:12px;
	margin:0px 0px 0px 0px;
	padding:0px;
	color:#000;

	
	
	}
#mainleft a.news{
	background:url(../images/more.gif) center right no-repeat;
	padding:12px 0px 13px 0px;
	margin:0px 0px;
	text-decoration:none;
	
	color:#2f82a3;
	width:100%;
	height:15px;
	display:block;
	}
	
#mainleft a.news span{
	font-weight:100;
	color:#000;
	display:block;
	float:left;
	position:relative;
	top:0px;
	margin:0px;
	padding:0px 0px 0px 10px;
	}

#mainleft a.news p{
	width:280px;
	display:block;
	padding:0px 0px 0px 43px;
	}

#mainleft a.news:hover{
	background: url(../images/more.gif) center right no-repeat #edf7f9;
}

	
	
#mainright table td a{
	text-decoration:none;
	color:#000;
	margin:0px;
	padding:0px 0px 13px 0px;
	height:0px;
	width:40px;
	display:block;
	}

#main table td ul a{
	color:#2f82a3;
	width:120px;
	text-decoration:underline;}
	
#main table td ul a:hover{
	text-decoration:none;}
	
#main table td ul li{
	margin:6px 0px 0px 0px;}



#mainright table h3{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size:16px;
	position:relative;
	top:11px;
	}

#mainright table span p{
	margin:0px 0px 0px 0px;
	padding:0px;
	position:relative;
	top:9px;
	font-size:12px;
	
	}

#main table p{
	margin:0px;
	padding:0px;}


#header{
	width:100%;
	height:236px;
	margin:0px;
	padding:0px;
	background: url(../images/bg.gif) repeat-x top #d0e2e5;}


#headerWrap {
	width:860px;
	margin:0px auto;
	padding:0px 0px;
	height:236px;
	z-index:2;
	background: url(../images/headimg.gif) no-repeat bottom center;
}



	
/*#subnavwrap{
	margin:0px auto;
	width:860px;
	
	padding:0px;
	height:54px;
	z-index:1;
	position:relative;
	top:105px;
	background: #245165;
	}*/




	
img.a{
	margin:0px;
	padding:10px 120px 20px 0px;
	margin-left:1px;
	position:absolute;
	top:46px;
	
	}
	
#object{
	position:absolute;
}

/************  Main Navigation **************/
#nav {
	
	width:860px;
	margin:0px auto;
	width:860px;
	
	padding:0px;
	height:60px;
	z-index:23;
	position:relative;
	top:128px;
	background: #245165;}

#navl{ 
	background:url(../images/navl.gif) no-repeat;
	display:block;
	position:relative;
	left:0px;
	padding:0px;
	top:0px;
	margin:0px;
	width:7px;
	height:60px;}
	
	
#navr{ 
	background:url(../images/navr.gif) no-repeat;
	display:block;
	position:relative;
	padding:0px;
	margin:0px;
	top:0px;
	float:right;
	width:7px;
	height:60px;}


	
#nav ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	list-style:none;
	display:block;
	position:absolute;
	top:8px;
	right:20px;
	width:565px;
	z-index:10;
	vertical-align:middle;
	}
	

#nav li{
	margin:0px 0px 0px 0px;
	padding:0px 0px 10px 0px;
	float:left;
	display:inline;
	position:relative;
	z-index:12;
	}

#nav li a{
	text-decoration:none;
	margin:0px 0px 0px 0px;
	padding:14px 18px;
	color:#fff;
	font-size:14px;
	position:relative;
	font-weight:bold;
	font-family:Helvetica, Arial, sans-serif;
	display:block;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	
	
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	
	
	}
	
#nav li a.dropdown{
	margin:0px;
	background-image: url(../images/dropdown.gif);
	background-repeat:no-repeat;
	background-position: right top;

	padding-right:26px;
	padding-bottom:23px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	}
	
#nav li a:hover, #nav li a.current{
		margin:0px; 
	background-color: #0e3341;
	
	color:#fff;
	}
	
#nav li a.current_dropdown{
	background-color: #fff;
	color:#143a4b;
	}
	
	
/*OLDER VERSION

#nav li a:hover, #nav li a.current{
		margin:0px; 
	background-color: #143a4b;
	color:#fff;
	}  */

#nav li.drop:hover span{
	display:block;
	color:#143a4b;
	background-color:#fff;
	padding-bottom:10px;
	z-index:12;
	}
#nav li.drop:hover a.dropdown{
	color:#143a4b;
	background-color:#fff;
	z-index:12;
	}

#nav li a.dropdown:hover{
	color:#143a4b;
	background-color:#fff;
	z-index:12;}



	
#nav li span{
	display:none;
	 margin: 0px 0px 0px -1px;
	padding:0px 0px 10px 0px;
	font-size:12px;
	position:absolute;
	top:52px;
	left:0px;
	float:none;
	color:#fff;
		z-index:11;
	background:#fff;
	width:230px;
	height:auto;
	border:1px solid #245165;
	border-top:none;
	
	
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	/*border-top:3px solid #245165;*/
	}
#nav li span a{ 
	text-decoration:none;
	margin:0px 0px 0px 0px;
	padding:15px 15px 15px 17px;
	color:#143a4b;
	font-size:13px;
	display:block;
	width:198px;
	font-weight:bold;
	font-family:Helvetica, Arial, sans-serif;
	background:#fff;
	-webkit-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-radius: 0px;
	}
	
#nav li span a:hover{ 
	background:#dfedf1;
	color:#143a4b;

	}

#nav li span li{display:list-item;  padding:0px 0px 0px 0px; margin:0px; float:none;}
#nav li span ul{ float:none;  width:200px; position:relative; padding:0px; margin:0px; top:0px; right:0px;}


#nav li.link{
	height:20px;}
	
#nav li.link:hover span{
	display:block;
	}

#main_search, #main_search.noborder{
	padding:0px;
	margin:0px 0px 0px 0px;
	float:left;
	position:relative;
	top:137px;
	left:38px;
	z-index:36;
	display:block;
	width:210px;
	height:34px;
	border:#245165 4px solid;
	-moz-border-radius:0.9em;
		
	-webkit-border-radius:0.9em;
	}
	#main_search:hover, #main_search.withborder{
		border-color:#082c3c;
	-moz-border-radius:0.9em;
		
	-webkit-border-radius:0.9em;
		}
		

		

#main_search a.togglesearch{
	display:block;
	background-image:url(../../../images/searchtoggle.gif);
	background-position:center;
	background-repeat:no-repeat;
	background-color:#082c3c;
	width:39px;
	height:34px;
	position:absolute;
	right:0px;
	-moz-border-radius-topright:0.9em;
		-moz-border-radius-bottomright:0.9em;
	-webkit-border-bottom-right-radius:0.9em;
	-webkit-border-top-right-radius:0.9em;
	z-index:100;}


#main_search:hover a.togglesearch, #main_search.withborder a.togglesearch{
		background-color: #245165;
		}
		
		
#main_search a.togglesearch2{
	border:2px #FF0 solid;}

#main_search form input{
	color:#888;}

#main_search form input:focus{
	color:#000;}
	#main_search a.togglesearch img, #main_search a.togglesearch2 img{
		position:absolute;
		top:15px;
		left:15px;}


#main_search ul#dropdownsearch{
	left:-4px;
	width:218px;
	
	padding:20px 0px 0px 0px;
	background:#082c3c;
	position:absolute;
	top:7px;
	
	z-index:10;
	list-style:none;
	-moz-border-radius-bottomleft:0.9em;
		-moz-border-radius-bottomright:0.9em;
	-webkit-border-bottom-right-radius:0.9em;
	-webkit-border-bottom-left-radius:0.9em;
	}


#main_search ul#dropdownsearch li{padding:0px; margin:0px;}
#main_search ul#dropdownsearch li a{
	text-decoration:none;
	color:#FFF;
	font-size:13px;
	display:block;
	font-weight:bold;
	padding:14px 20px;
	margin:0px;
	border-bottom:solid 1px #57707b;}
	
	#main_search ul#dropdownsearch li p{
		text-decoration:none;
	color:#999;
	font-size:13px;
	display:block;

	padding:10px 20px;
	border-bottom:solid 1px #999;
		display:none;}
	#main_search ul#dropdownsearch li a:hover{
		background:#051b25;}
		
	#main_search ul#dropdownsearch li a.bottomlink{
		border:none;
		padding:14px 20px 18px 20px;
		-moz-border-radius-bottomleft:0.9em;
		-moz-border-radius-bottomright:0.9em;
	-webkit-border-bottom-right-radius:0.9em;
	-webkit-border-bottom-left-radius:0.9em;}
		
	#main_search ul#dropdownsearch li a.currently{color:#83a2b0; font-weight:100;}
	
/* 
** Search Field 
*/
	
		#header form{width:210px; display:block;}
	#header form label { color: #fff; font-size: 85%; }
	

	#header form #q {
		width:124px;
		height:23px;
		-moz-border-radius-topleft:0.9em;
		-moz-border-radius-bottomleft:0.9em;
	-webkit-border-bottom-left-radius:0.9em;
	-webkit-border-top-left-radius:0.9em;
		font-size: 11px;
		border:	none;
		background: #FFF;
		padding-right: 37px;
		padding-left: 10px;
		padding-top:10px;
		margin:0px;
		position:absolute;
		float:left;
        text-align: left;
       vertical-align:baseline;
		z-index:30;
		}

    #header form #searchGoButton {
        margin:0px 0px 0px 00px;
		padding: 5px 7px;
		border:	none;
		right:42px;
		top:2px;
		position:absolute;
	z-index:4000;
	background:#FFF;
    }

/************  / END Main Navigation **************/
.inputtxt{
	margin:0px 0px 0px 10px;
	border:none;
	width:124px;
	height:12px;
	padding:6px 0px 6px 4px;
	float:left;
	background-color:#fff;
	text-align:justify;
	vertical-align:middle;
	outline: none;
	}
.mw-explainconflict{
	margin-bottom:30px;}

 .inputtxt:active, .inputtxt:visited{
	border:none; outline: none;}

.inputgo{
	float:right;
	border:none;
	height:20px;
	margin:0px 0px 0px 0px;
	padding:2px 9px 2px 4px;
	
	width:20px;
	
	
	}

.inputgo{
	cursor:pointer;}
	

